@using StudyCourseEditor.TestClasses
@{
    ViewBag.Title = "Главная";
}

<h2>@ViewBag.Message</h2>

<p>
    @Html.ActionLink("Математика", "StartCourseTest", "Test", new { courseId = 3, testType = TestType.Adaptive }, null) <br/>
    @Html.ActionLink("Музыка", "StartCourseTest", "Test", new { courseId = 4, testType = TestType.Adaptive }, null)
</p>
