@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    <img src="/Content/img/database.jpg" alt=""/>
</p>

<p>
    @Html.ActionLink("Тест", "StartCourseTest", "Test", new { courseId = 3 }, null);
</p>
