@{
    ViewBag.Title = "FinishExam";
}

@if (ViewBag.TestCompleted)
{
    <h2>Тест пройден. Вы набрали @ViewBag.Score</h2>
    if (ViewBag.ResultSaved)
        {
            <div>
                Реультат сохранен для пользователя @User.Identity.Name
            </div>
        }
}
else
{
    <h2>Тест был прерван</h2>
}
