@model StudyCourseEditor.Models.Subject

@{
    ViewBag.Title = "Удалить тему";
}

<h2>@ViewBag.Title</h2>

<h3>Вы уверены, что хотите удалить тему "@Model.Name" из курса "@Model.Course.Name"?</h3>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Да, удалить" /> |
         @Html.ActionLink("К списку тем", "Edit", "Course", new {id = Model.CourseID}, null)
    </p>
}
