@model StudyCourseEditor.Models.Course

@{
    ViewBag.Title = "Просмотр курса";
}

<h2>@Model.Name</h2>
<div>@Html.Raw(Model.Description)</div>

<p>
    @Html.ActionLink("К списку курсов", "Index")
</p>


